@mixin flex-col($gap, $align, $justify){
    display: flex;
    flex-direction: column;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin flex-row($gap, $align, $justify){
    display: flex;
    flex-direction: row;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin default-cont(){
    width: 100vw;
    max-width: 1600px;
    padding: 5px 15px;
    justify-self: center;
}

@mixin center-all{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}


.policyInfo{
    @include default-cont();
    @include flex-col(2rem, start, start);
    padding: 40px 10px;

    p{
        font-size: 1.2rem;
        font-weight: 300;

        @media(max-width:900px){
            font-size: 1rem;
        }
    }

    ol{
        @include flex-col(2rem, start, start);

        li{
            @include flex-col(1rem, start, start);
            font-size: 1.2rem;
            font-weight: 300;
            padding-left: 15px;

            @media(max-width:900px){
                font-size: 1rem;
            }

            h2 {
                font-size: 2rem;
                font-weight: 500;
                letter-spacing: -2px;

                @media(max-width:900px){
                    font-size: 1.4rem;
                }
            }

            ul {
                @include flex-col(1rem, start, start);
            }
        }
    }
}