.carousel {
    position: relative;
    height: 300px;
    max-width: 1600px;
    width: 90%;
    justify-self: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    margin-top: 4rem;

    @media (max-width: 900px){
        width: 90vw;
    }
}

.carousel_inner {
    height: 200px;
    width: fit-content;
    display: flex;
    gap: 50px;
   
    transition: all 0.4s cubic-bezier(0.35, 0, 0.7, 1);
}

.carousel_card {
    scroll-snap-align: start;
    position: relative;

    width: 320px;
    height: 200px;

    border: 1px solid var(--transparent-dark-color);
    border-radius: 8px;

    background-color: var(--foreground-color);
    background-repeat: no-repeat;
    background-size: contain;

    box-shadow: var(--box-shadow);

    cursor: pointer;
}

.carousel_card:nth-child(1) {
    background-image: url("/categoriesImages/Амортизаторы.png");
    background-position: 100%;
}

.carousel_card:nth-child(2) {
    background-image: url("/categoriesImages/лебедка.png");
    background-position: 100%;
}

.carousel_card:nth-child(3) {
    background-image: url("/categoriesImages/шноркель.png");
}

.carousel_card:nth-child(4) {
    background-image: url("/categoriesImages/пружины.png");
    background-position: 100%;
}

.carousel_card:nth-child(5) {
    background-image: url("/categoriesImages/решетка-радиатора.png");
    background-position: 100%;
}

.carousel_card:nth-child(6) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0;
}

.carousel_card:nth-child(7) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0;
}

.carousel_card h3 {
    position: absolute;
    top: 20px;
    left: 6px;

    font-size: 1.8rem;
    background: transparent;

    color: var(--background-color);

    height: fit-content;
    max-width: 100px;
}

.carousel_card:nth-child(2) h3 {
    top: 150px;
}

.carousel_card:nth-child(3) h3 {
    left: 120px;
}

.carousel_card:nth-child(6) h3 {
    position: relative;
    top: 0;
    max-width: 100%;
    text-align: center;

    color: var(--orange-color);
}

.carousel_card:nth-child(7) p {
    font-size: 1.4rem;
    text-align: center;
    background: transparent;
    color: var(--background-color);
}

/* Controller button */

.carousel_buttonRight {
    position: absolute;
    bottom: 40px;
    right: 15px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--foreground-color);

    background-color: var(--foreground-color);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    transition: all 0.1s linear;


    @media (max-width: 900px){
        display: none;
    }
}

.carousel_buttonLeft {
    position: absolute;
    bottom: 40px;
    right: 55px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--foreground-color);

    background-color: var(--foreground-color);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    transition: all 0.1s linear;


    @media (max-width: 900px){
        display: none;
    }
}

.carousel_buttonRight:active,
.carousel_buttonLeft:active {
    border-color: var(--background-color);
    color: var(--background-color);
}

/* indicator */

.carousel_slideIndicatorContainer {
    position: absolute;
    bottom: 50px;
    left: 60px;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background: transparent;

    @media (max-width: 900px){
        display: none;
    }
}

.carousel_slideIndicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;

    transition: all 0.4s cubic-bezier(0.35, 0, 0.7, 1);
}
