.sideSlide {
    position: fixed;
    background: var(--foreground-color);
    bottom: 30%;

    height: 55px;
    width: 90px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    .arrow {
        height: 28px;
        width:  28px;
        
        transform: translateX(-15px);
        color: var(--background-color);
        background: transparent;

        cursor: pointer;
    }

    .cartIndicator {
        position: absolute;
        top: -10px;
        left: 14px;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        background-color: var(--red-color);
    }
}